# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^api/(.*)$ /BTL_LTW/src/public/$1 [L]
# RewriteRule ^(.*)$ index.php/$1 [L]
RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ src/public/index.php/$1 [L]
# RewriteRule ^api/(.*)$ BTL_LTW/src/public/index.php/$1 [L]